.add-course-btn {
    background-color: var(--success);
    color: white;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-course-btn:hover {
    background-color: #2b8900;
}

.course-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

.btn-edit,
.btn-delete,
.btn-exam {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-edit {
    background-color: var(--primary);
    color: white;
}

.btn-delete {
    background-color: var(--danger);
    color: white;
}

.btn-edit:hover {
    background-color: var(--primary-dark);
}

.btn-delete:hover {
    background-color: #c1121f;
}

.btn-exam{
    background-color: var(--warning);
    color: white;
}

.btn-exam:hover{
    background-color: #d6a23b;
    color: white;
}