.question-block {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px 0;
}

.question-block input[type='radio']{
    margin: 10px 0;
}

main > .container{
    margin: 0 auto;
    width: 75%;
}

input[type='text'], input[type='email']{
    width: 500px;
    border-bottom: 1px solid grey;
    border-top: none;
    border-right: none;
    border-left: none;
    transition: border-bottom 0.1s ease;
}

input:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

.question-block > img {
    width: 500px;
    height: 300px;
}

.title{
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 5px solid #4361ee;
    padding: 10px 15px;
}

.title h1, .title p{
    padding: 10px;
}

button{
    padding: 5px 15px;
    background-color: #4361ee;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3f37c9;
}